.doc-table { 
	width: 750px; 
	border-collapse: collapse; 
	margin:50px auto;
}

/* Zebra striping */
.table-doc > tr:nth-of-type(odd) { 
	background: #eee; 
	}

.table-doc > th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

.table-doc > td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
  }


/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	.doc-table { 
      width: 100%; 
      display: block;
	}

	/* Force table to not be like tables anymore */
	.doc-table > thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.doc-table > thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.doc-table > tr { border: 1px solid #ccc; }
	
	.doc-table > td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	.doc-table > td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}