.doc-table { 
	width: 100%; 
	border-collapse: collapse; 
	margin:50px auto;
	}

/* Zebra striping */
.doc-tr:nth-of-type(odd) { 
	background: #eee; 
	}

.doc-th { 
	background:  #31465F; 
	color: white; 
	font-weight: bold; 
	}

.doc-td, .doc-th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 18px;
}
	
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 1230px),
(min-device-width: 768px) and (max-device-width: 1230px)  {

	.doc-table { 
		width: 100%; 
	}

	/* Force table to not be like tables anymore */
	.doc-table, .doc-thead, .doc-tbody, .doc-th, .doc-td, .doc-tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.doc-thead .doc-tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.doc-tr { border: 1px solid #ccc; }
	
  .doc-td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}

	.doc-td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);

		color: #000;
		font-weight: bold;
	}

}