{
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@stencil/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "createDefaultProgram": true,
    "ecmaVersion": 2017,
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "@stencil", "prettier"],
  "root": true,
  "rules": {
    "@stencil/async-methods": 2,
    "@stencil/ban-prefix": [2, ["stencil", "stnl", "st"]],
    "@stencil/ban-side-effects": 0,
    "@stencil/decorators-context": 2,
    "@stencil/decorators-style": [
      2,
      {
        "element": "inline",
        "event": "inline",
        "listen": "multiline",
        "method": "multiline",
        "prop": "inline",
        "state": "inline",
        "watch": "multiline"
      }
    ],
    "@stencil/element-type": 0,
    "@stencil/host-data-deprecated": 2,
    "@stencil/methods-must-be-public": 2,
    "@stencil/no-unused-watch": 2,
    "@stencil/own-methods-must-be-private": 0,
    "@stencil/own-props-must-be-private": 0,
    "@stencil/prefer-vdom-listener": 2,
    "@stencil/props-must-be-public": 2,
    "@stencil/props-must-be-readonly": 2,
    "@stencil/render-returns-host": 2,
    "@stencil/required-jsdoc": 2,
    "@stencil/reserved-member-names": 2,
    "@stencil/single-export": 2,
    "@stencil/strict-boolean-conditions": 0,
    "@stencil/strict-mutable": 2,
    "@typescript-eslint/ban-ts-ignore": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-for-in-array": 0,
    "@typescript-eslint/no-misused-promises": 0,
    "@typescript-eslint/no-unnecessary-type-assertion": 0,
    "@typescript-eslint/no-unused-vars": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "arrow-parens": [1, "always"],
    "no-console": 1
  }
}
