dist/
!www/favicon.ico
www/
*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.stencil
.idea
.sass-cache
.versions
node_modules
$RECYCLE.BIN
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
nbproject
.buildpath
.idea
.project
.settings
.vs
.vscode
composer.lock
*.swp
*.swo
node_modules
.node_modules
package-lock.json
*.log
.versions
generated
capi/src/__tests__/*/api
capi/src/__tests__/*/www
capi/src/__tests__/*/sitemap.xml
client/src/api
client/src/assets
report.*.json
_site/
client/src/sitemap.xml
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
client/src/aws-exports.ts
awsconfiguration.json
amplifyconfiguration.json
amplify-gradle-config.json
amplifyxc.config
amplify/team-provider-info.json
coverage
