.menu {
  ul,
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .category-container {
    a {
      color: inherit;
      text-decoration: none;
    }

    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;

      &:hover {
        cursor: pointer;
        color: var(--amplify-colors-brand-primary-60);
      }

      .chevron-open {
        // rotate around the center
        transform-box: fill-box;
        transform-origin: center;
        transform: rotate(90deg);
      }
    }

    .category {
      font-weight: 700;
      font-size: 16px;
    }

    .subcategory {
      font-size: 14px;
    }

    .current {
      color: var(--amplify-colors-brand-primary-60);
    }
  }
}
