.accordion {
  border: 1px solid var(--amplify-colors-teal-60);
  border-radius: var(--amplify-radii-medium);
  overflow: hidden;
  &__summary {
    background: var(--amplify-colors-teal-10);
    padding: var(--amplify-space-medium);
    border: 2px solid transparent;
    cursor: pointer;
    &:focus-visible {
      border-radius: var(--amplify-radii-medium);
      border-color: var(--amplify-colors-border-focus);
    }
    &__inner {
      gap: var(--amplify-space-xxxs);
      line-height: var(--amplify-line-heights-small);
      flex-direction: column;
    }
  }
  &__eyebrow {
    gap: var(--amplify-space-xxs);
    align-items: center;
    color: var(--amplify-colors-teal-80);
  }
  &__heading {
    font-size: var(--amplify-font-sizes-medium);
    font-weight: 700;
  }
  &__chevron {
    margin: auto 0 auto auto;
    color: var(--amplify-colors-teal-60);
  }
  &__body {
    flex-direction: column;
    padding: var(--amplify-space-medium);
    border-top: 1px solid var(--amplify-colors-teal-60);
    border-bottom: 1px solid var(--amplify-colors-teal-60);
  }
  &__button {
    background-color: var(--amplify-colors-teal-10);
    border-color: transparent;
    border-width: 2px;
    width: 100%;
    padding: var(--amplify-space-medium);
    border-radius: 0 0 var(--amplify-radii-medium) var(--amplify-radii-medium);
    &:focus {
      box-shadow: none;
    }
    &:focus-visible {
      border-color: var(--amplify-colors-border-focus);
    }
  }
  @include darkMode {
    border-color: var(--amplify-colors-teal-20);
    &__summary {
      background: var(--amplify-colors-teal-20);
    }
    &__eyebrow {
      color: var(--amplify-colors-white);
    }
    &__chevron {
      color: var(--amplify-colors-white);
    }
    &__body {
      border-color: var(--amplify-colors-teal-20);
    }
    &__button {
      background-color: var(--amplify-colors-teal-20);
    }
  }
}
