.message-banner {
  align-items: start;
  /* Specificity to override Amplify UI color theme */
  &.amplify-message--info {
    border: 1px solid var(--amplify-colors-purple-20);
    background-color: var(--amplify-colors-purple-10);
    color: var(--amplify-colors-purple-80);
  }
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__heading {
    font-weight: 700;
  }
  &__content,
  &__heading {
    color: var(--amplify-colors-purple-100);
  }
  &__button {
    margin: 0 auto;
    background-color: var(--amplify-colors-purple-10);
    color: var(--amplify-colors-purple-80);
    border-color: var(--amplify-colors-purple-20);
    flex: 1 0 auto;
    align-self: center;
  }
}

@container (min-width: 700px) {
  .message-banner {
    &__inner {
      flex-direction: row;
    }
  }
}
