.block-switcher {
  [role='tabpanel'] {
    &:focus-visible {
      outline: 2px solid var(--amplify-colors-border-focus);
    }
  }
  &__block {
    margin-top: var(--amplify-space-medium);
    flex-direction: column;
  }
  .amplify-tabs {
    overflow-x: auto;
    border: none;
    padding-bottom: 2px;
    position: relative;
    &:after {
      width: 100%;
      height: 1px;
      background: var(--amplify-colors-neutral-20);
      position: absolute;
      bottom: 0;
      content: '';
    }
  }
  .amplify-tabs-item {
    flex: 0 0 auto;
    position: relative;
    border: none;
    z-index: 1;
    &[data-state='active'] {
      &:after {
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        border-radius: 2px;
        background: var(--amplify-colors-brand-primary-60);
      }
    }
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 2px var(--amplify-colors-border-focus) inset;
    }
  }
}
