.block-switcher {
  [role='tabpanel'] {
    &:focus-visible {
      outline: 2px solid var(--amplify-colors-border-focus);
    }
  }

  border: var(--amplify-border-widths-small) solid
    var(--amplify-colors-border-secondary);
  border-radius: var(--amplify-radii-small);

  &__block {
    margin-top: var(--amplify-space-medium);
    flex-direction: column;
    padding: 0 var(--amplify-space-small);
    padding-bottom: var(--amplify-space-small);
  }
  .amplify-tabs {
    overflow-x: auto;
    border: none;
    padding-bottom: 2px;
    position: relative;
    &:after {
      width: 100%;
      height: 1px;
      background: var(--amplify-colors-neutral-20);
      position: absolute;
      bottom: 0;
      content: '';
    }
  }
  .amplify-tabs__item {
    flex: 0 0 auto;
    position: relative;
    border: none;
    &--active {
      &:after {
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        border-radius: 2px;
        background: var(--amplify-colors-primary-60);
      }
    }
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 2px var(--amplify-colors-border-focus) inset;
    }
  }
}
