/* Callout uses Amplify UI Message component */
.amplify-message {
  &__icon {
    align-self: flex-start;
  }
  &--info {
    a:not([class]) {
      color: var(--amplify-colors-blue-100);
    }
  }
  &--warning {
    a:not([class]) {
      color: var(--amplify-colors-orange-100);
    }
  }

  &__content {
    min-width: 0;
  }

  .pre-container {
    /* Class for code block */
    margin: var(--amplify-space-large) 0;
  }
}
.amplify-message__content p:not(:last-child) {
  margin-bottom: var(--amplify-space-medium);
}
