code:not([class]) {
  font-family: var(--font-code);
  font-size: var(--amplify-font-sizes-small);
  margin-bottom: 1px;
  background-color: var(--amplify-colors-neutral-20);
  padding: var(--amplify-space-xxxs) var(--amplify-space-xxs);
  border-radius: var(--amplify-radii-small);
  display: inline-block;
  line-height: var(--amplify-line-heights-small);
  font-style: normal;
}

.pre-header {
  align-items: center;
  padding: var(--amplify-space-xs) 0;
  border-bottom: 1px solid var(--amplify-colors-neutral-90);
  margin-bottom: var(--amplify-space-medium);
  &--filename {
    border-bottom: 1px solid var(--amplify-colors-neutral-90);
    margin-bottom: var(--amplify-space-medium);
  }
}
.pre-filename {
  color: var(--amplify-colors-font-inverse);
  font-size: var(--amplify-font-sizes-medium);
}

.pre-wrapper {
  padding: 1px;
  border-radius: var(--amplify-radii-small);
  background: var(--amplify-colors-neutral-100);
  overflow: hidden;
  /* There are some instances of code blocks in ol/ul and 
   * this is to add some spacing so they look better */
  li & {
    margin-block: var(--amplify-space-small);
  }
}
.pre-wrapper__inner {
  font-size: var(--amplify-font-sizes-small);
  background: var(--amplify-colors-neutral-100);
  position: relative;
  border-radius: var(--amplify-radii-small);
  padding: 0 var(--amplify-space-medium);
}

.pre {
  margin: 0;
  overflow: auto;
  padding-block-end: var(--amplify-space-medium);
  font-size: var(--amplify-font-sizes-medium);
}

.token-line {
  display: block;
  line-height: var(--amplify-line-heights-medium);
}
.line-number {
  color: var(--code-theme-comment);
  margin-inline-end: var(--amplify-space-small);
  text-align: end;
  user-select: none;
  display: inline-block;
  width: var(--amplify-space-medium);
}

.code-copy {
  margin-inline-start: auto;
  padding-block: var(--amplify-space-xxxs);
  color: var(--amplify-colors-font-inverse);
  border-radius: var(--amplify-radii-small);
  &:hover {
    color: var(--amplify-colors-font-inverse);
    background-color: var(--amplify-colors-neutral-90);
  }
  &:focus {
    color: var(--amplify-colors-font-inverse);
    background-color: var(--amplify-colors-neutral-90);
    box-shadow: 0 0 0 2px var(--amplify-colors-neutral-10);
  }
}
