code:not([class]) {
  font-family: var(--font-code);
  font-size: var(--amplify-font-sizes-small);
  margin-bottom: 1px;
  background-color: var(--amplify-colors-neutral-20);
  padding: var(--amplify-space-xxxs) var(--amplify-space-xxs);
  border-radius: var(--amplify-radii-small);
  display: inline-block;
  line-height: var(--amplify-line-heights-small);
}

.pre-filename {
  color: var(--amplify-colors-font-inverse);
  font-size: var(--amplify-font-sizes-medium);
  padding: var(--amplify-space-medium) 0;
  border-bottom: 1px solid var(--amplify-colors-neutral-90);
}
.pre-wrapper {
  padding: 1px;
  border-radius: var(--amplify-radii-small);
  background: var(--amplify-colors-neutral-100);
  overflow: hidden;
}
.pre-wrapper__inner {
  font-size: var(--amplify-font-sizes-small);
  background: var(--amplify-colors-neutral-100);
  position: relative;
  border-radius: var(--amplify-radii-small);
  padding: 0 var(--amplify-space-large);
}

.pre {
  margin: 0;
  overflow: auto;
  padding-block: var(--amplify-space-large);
  font-size: var(--amplify-font-sizes-medium);
}

.token-line {
  display: block;
  line-height: var(--amplify-line-heights-medium);
}
.line-number {
  color: var(--code-theme-comment);
  margin-inline-end: var(--amplify-space-small);
  text-align: end;
  user-select: none;
  display: inline-block;
  width: var(--amplify-space-medium);
}

.code-copy {
  color: var(--amplify-colors-font-inverse);
  border-radius: var(--amplify-radii-small);
  &:hover {
    color: var(--amplify-colors-font-inverse);
    background-color: var(--amplify-colors-neutral-90);
  }
  &:focus {
    color: var(--amplify-colors-font-inverse);
    background-color: var(--amplify-colors-neutral-90);
    box-shadow: 0 0 0 2px var(--amplify-colors-neutral-10);
  }
}

[data-amplify-theme='gen2-theme'] {
  .pre-wrapper {
    background-image: linear-gradient(
      var(--amplify-colors-pink-40) 0,
      var(--amplify-colors-purple-20) 100%
    );
    box-shadow: 0 2px 10px hsla(221, 85, 18, 0.3);
  }
}
