code:not([class]) {
  font-family: var(--font-code);
  font-size: var(--amplify-font-sizes-small);
  margin-bottom: 1px;
  background-color: var(--amplify-colors-neutral-20);
  padding: var(--amplify-space-xxxs) var(--amplify-space-xxs);
  border-radius: var(--amplify-radii-small);
  display: inline-block;
  line-height: var(--amplify-line-heights-small);
  font-style: normal;
  h2 &,
  h3 & {
    font-size: 0.75em;
  }
}

.pre-header {
  align-items: center;
  padding: var(--amplify-space-xs) 0;
  margin-inline: var(--amplify-space-medium);
  border-bottom: 1px solid var(--amplify-colors-neutral-90);
}
.pre-title {
  color: var(--amplify-colors-font-inverse);
  font-size: var(--amplify-font-sizes-medium);
  line-height: var(--amplify-line-heights-small);
}

.pre-container {
  border-radius: var(--amplify-radii-small);
  background: var(--amplify-colors-neutral-100);
  overflow: hidden;
  /* There are some instances of code blocks in ol/ul and 
   * this is to add some spacing so they look better */
  li & {
    margin-block: var(--amplify-space-small);
  }
}

.pre-wrapper {
  padding: 0 var(--amplify-space-large) 0 var(--amplify-space-xs);
}

.pre {
  overflow: auto;
  display: flex;
  margin: 0;
  padding-block: var(--amplify-space-medium);
  font-size: var(--amplify-font-sizes-medium);
  &:focus-visible {
    outline: 2px solid var(--amplify-colors-neutral-10);
  }
}

.pre-code {
  flex: 1;
}

.token-line {
  display: block;
  position: relative;
  padding-inline: var(--amplify-space-small);
  line-height: 1.6;
}

.token {
  z-index: 1;
  position: relative;
}

.line-highlight {
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--amplify-colors-neutral-90);
  }
  &:after {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    width: 6px;
    background-color: var(--amplify-colors-brand-primary-40);
    z-index: 1;
    height: 100%;
  }
}

.line-number {
  z-index: 1;
  position: relative;
  color: var(--code-theme-comment);
  margin-inline-end: var(--amplify-space-medium);
  text-align: end;
  user-select: none;
  display: inline-block;
  width: 1.8rem;
}

.code-copy {
  margin-inline-start: auto;
  padding-block: var(--amplify-space-xxxs);
  color: var(--amplify-colors-font-inverse);
  border-radius: var(--amplify-radii-small);
  &:hover {
    color: var(--amplify-colors-font-inverse);
    background-color: var(--amplify-colors-neutral-90);
  }
  &:focus {
    color: var(--amplify-colors-font-inverse);
    background-color: var(--amplify-colors-neutral-90);
    box-shadow: 0 0 0 2px var(--amplify-colors-neutral-10);
  }
}
