@font-face {
  font-family: 'AmazonEmberReg';
  src: url('/fonts/AmazonEmberDisplay_Rg.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AmazonEmberRegIt';
  src: url('/fonts/AmazonEmberDisplay_RgIt.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'AmazonEmberBd';
  src: url('/fonts/AmazonEmberDisplay_Bd.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'AmazonEmberBdIt';
  src: url('/fonts/AmazonEmberDisplay_BdIt.ttf') format('truetype');
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'AmazonEmberMono';
  src: url('/fonts/AmazonEmberMono_Bd.ttf');
  font-style: normal;
  font-display: swap;
}

#contributor-page * {
  font-family: AmazonEmberReg, sans-serif;
}

#contributor-page .amplify-button {
  box-shadow: rgb(0 0 0 / 25%) 0px 0.125rem 0.25rem;
}
#contributor-page .amplify-button:hover {
  box-shadow: rgb(0 0 0 / 50%) 0px 0.125rem 0.25rem;
  background-color: inherit;
  border-color: var(--amplify-components-button-border-color);
  border-radius: var(--amplify-components-button-border-radius);
  border-style: var(--amplify-components-button-border-style);
  border-width: var(--amplify-components-button-border-width);
}
#contributor-page .amplify-button--primary {
  background-color: #ff9900;
  color: #232f3e;
}
#contributor-page .amplify-button--primary:hover {
  background-color: #ff9900;
  color: #232f3e;
}
#contributor-page .amplify-badge--info {
  background-color: #2074d5;
  color: white;
}
#contributor-page .amplify-link {
  color: #ff9900;
}
#contributor-page .amplify-link:visited {
  color: #ff9900;
}
#contributor-page .amplify-heading--1,
#contributor-page .amplify-heading--2 {
  font-family: AmazonEmberBd;
}
#contributor-page .code-snippet {
  border: 1px solid var(--amplify-colors-neutral-40);
  border-radius: var(--amplify-radii-xs);
  padding: 2px 5px;
  font-family: AmazonEmberMono;
  width: fit-content;
  display: inline;
  font-size: 0.8125em;
}
#contributor-page li {
  margin: 1em 0;
}
#contributor-page pre code,
#contributor-page pre code span {
  font-size: 1rem !important;
  text-shadow: none !important;
}

#contributor-page pre {
  border-style: solid;
  border-radius: 0.5rem;
  border-width: 1px;
  color: black;
  background: #fff !important;
  border-color: rgba(0, 0, 0, 0.3);
  text-shadow: none important!;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 1rem !important;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  margin: 0.5 em 0;
  overflow: auto;
}
