* {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Amazon Ember, -apple-system, BlinkMacSystemFont, Segoe UI,
    Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  word-wrap: break-word;
  text-decoration: none;
}

u {
  text-decoration: underline;
}

b {
  font-weight: 700;
}

i {
  font-style: italic;
}

a {
  cursor: pointer;

  &,
  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: var(--color-anchor);
    text-decoration: none;
  }

  span,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    cursor: pointer;
  }
}

svg {
  color: inherit;

  path {
    color: inherit;
  }
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  cursor: text;
}

h1 {
  font-size: 2.215rem;
  line-height: 2.75rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.625rem;
  line-height: 2rem;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
}

h4 {
  font-size: 1rem;
  line-height: 1.375rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.5rem;
}

h6 {
  color: var(--color-grey-hv);
  font-size: 1rem;
  line-height: 1.5rem;
}

ul {
  padding-left: 2rem;
}

ol {
  padding-left: 2rem;
  margin-bottom: 1rem;
}

ol li ul:first-of-type {
  margin-top: 0;
}

dl {
  padding: 0;
}

dl dt {
  font-size: 0.875rem;
  font-weight: 500;
  font-style: italic;
  padding: 0;
  margin: 1rem 0 0.25rem;
}

dl {
  dt:first-child {
    padding: 0;
  }

  dt > :first-child {
    margin-top: 0;
  }

  dt > :last-child {
    margin-bottom: 0;
  }

  dd {
    margin: 0 0 1rem;
    padding: 0 1rem;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}

pre {
  margin-bottom: 1.5rem;
}

blockquote {
  border-left: 0.25rem solid var(--border-color);
  padding: 0 1rem;
  color: var(--color-grey-hv);
}

blockquote {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

div.table-container {
  overflow-x: auto;
  margin-bottom: 1rem;
  border-width: 0.0625rem;
  border-style: solid;
  border-color: var(--color-grey-md);
  border-top-width: 0;
  border-bottom-width: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;

  th {
    font-weight: bold;
    border: 0.0625rem solid var(--color-grey-md);
    padding: 0.5rem 1rem;
  }

  td {
    border: 0.0625rem solid var(--color-grey-md);
    padding: 0.5rem 1rem;
  }

  tr {
    border-top: 0.0625rem solid var(--color-grey-md);
    background-color: var(--bg-color);
  }
}

img {
  max-width: 100%;
}

tt {
  margin: 0 0.125rem;
  padding: 0 0.125rem;
  white-space: nowrap;
  border: 0.0625rem solid var(--color-off-white);
  background-color: var(--color-grey-lt);
  border-radius: 0.125rem;
  font-size: 0.75rem;
  color: var(--color-grey-hv);
}

code {
  &,
  & * {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 0.8125rem;
  }
}

table,
td,
blockquote,
li,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  > code {
    display: inline-block;
    padding: 0 0.5rem;
    background-color: var(--color-grey-lt);
    border-radius: 0.25rem;
  }
}

iframe {
  width: 100%;
  min-height: 20rem;
  max-height: 37.5rem;
  max-width: 40rem;
}
