.feature-lists {
  gap: var(--amplify-space-large) var(--amplify-space-xxl);
}
@container (min-width: 600px) {
  .feature-lists {
    grid-template-columns: repeat(2, 1fr);
  }
}

.feature-link {
  list-style: none;
}
.category-list {
  flex-direction: column;
}
.category-list-children {
  display: flex;
  flex-direction: column;
  gap: var(--amplify-space-large);
  padding: 0;
}
