#feedback-container {
  .feedback-text {
    padding: var(--amplify-space-xs) var(--amplify-space-large);
  }

  .vote-response {
    flex-direction: column;
    opacity: 0;
    display: none;
    overflow: visible;
    text-wrap: nowrap;
    padding-left: 0;
  }

  .no-vote-response {
    opacity: 0;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    font-size: 0.9rem;
    padding: 8px;

    .cta {
      text-align: center;
    }

    .cta-button {
      flex-direction: row;
      font-size: 0.9rem;
      align-items: center;
      justify-content: center;

      span {
        display: inline-block;
      }
    }
  }

  .vote-buttons-container {
    padding: var(--amplify-space-xs) var(--amplify-space-large);

    .vote-button {
      justify-content: start;
      font-size: 0.9rem;
      color: inherit;
      border-color: var(--amplify-colors-brand-secondary-);
      height: fit-content;

      .amplify-text {
        padding-left: 7px;
      }
    }
  }
}
