@font-face {
  font-family: Amazon Ember;
  src: url(/fonts/Amazon_Ember_Th.ttf);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(/fonts/Amazon_Ember_ThIt.ttf);
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(/fonts/Amazon_Ember_Lt.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(/fonts/Amazon_Ember_LtIt.ttf);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(/fonts/Amazon_Ember_Rg.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(/fonts/Amazon_Ember_RgIt.ttf);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(/fonts/Amazon_Ember_Bd.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(/fonts/Amazon_Ember_BdIt.ttf);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
