@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/Amazon_Ember_Rg.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/Amazon_Ember_RgIt.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/Amazon_Ember_Bd.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Amazon Ember;
  src: url(../../public/fonts/Amazon_Ember_BdIt.ttf);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
