.footer {
  flex-direction: column;
  padding: var(--amplify-space-xxl) var(--amplify-space-medium);
  margin-top: var(--amplify-space-xxl);
  border-top: 1px solid var(--amplify-colors-neutral-20);
  color: var(--amplify-colors-font-secondary);
  font-size: var(--amplify-font-sizes-small);
  background: var(--amplify-colors-background-primary);
  z-index: 1;
}
.footer__content {
  flex-direction: column;
  gap: var(--amplify-space-xs);
}

.footer__links {
  justify-content: center;
  list-style: none;
}

.footer-link {
  color: var(--amplify-colors-font-primary);
  &:hover {
    color: var(--amplify-colors-font-interactive);
    text-decoration: none;
  }
  &:focus {
    outline: 2px solid var(--amplify-colors-border-focus);
  }
  &--social {
    font-size: 2rem;
  }
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
  .footer__links {
    margin-inline-start: auto;
  }
}
