.framework-grid-wrapper {
  container-type: inline-size;
}
.framework-grid {
  list-style: none;
  margin: 0;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  &--inline {
    display: flex;
    gap: var(--amplify-space-xxxl);
  }
  .icon-monochrome {
    opacity: 1;
  }
  &__icon {
    font-size: 3rem;
    line-height: 1;

    .amplify-icon {
      display: block;
      margin: 0 auto;
    }
    &--inline {
      font-size: 2rem;
    }
  }
  &__item {
    text-align: center;
  }
  &__link {
    display: flex;
    flex-direction: column;
    font-size: var(--amplify-font-sizes-small);
    gap: var(--amplify-space-xs);
    color: var(--amplify-colors-font-primary);
    text-decoration: none;
    align-items: center;
    padding: var(--amplify-space-large) var(--amplify-space-xs);
    &:hover {
      text-decoration: underline;
      .icon-monochrome {
        opacity: 0;
      }
    }
    &:focus {
      .icon-monochrome {
        opacity: 0;
      }
    }
    &--current {
      font-weight: bold;
      .icon-monochrome {
        opacity: 0;
      }
    }
  }
}

@container (min-width: 400px) {
  .framework-grid {
    grid-template-columns: repeat(4, 1fr);
    &--small {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

@container (min-width: 600px) {
  .framework-grid {
    grid-template-columns: repeat(6, 1fr);
    &--small {
      grid-template-columns: repeat(8, 1fr);
    }
  }
}
@container (min-width: 1100px) {
  .framework-grid {
    grid-template-columns: repeat(9, 1fr);
  }
}
