.gen-switcher__trigger {
  background-color: transparent;
  color: var(--amplify-colors-white);
  border-color: var(--amplify-colors-white);
  &:hover {
    background-color: var(--amplify-colors-primary-90);
  }
  &:focus {
    box-shadow: none;
    outline: 2px solid var(--amplify-colors-white);
    outline-offset: 2px;
  }
  .popover-icon {
    font-size: var(--amplify-font-sizes-xs);
  }
  @include darkMode {
    &:hover {
      background-color: var(--amplify-colors-primary-10);
    }
  }
}

.gen-switcher__trigger--gen1 {
  border-color: var(--amplify-colors-neutral-100);
  color: var(--amplify-colors-font-primary);
  &:hover {
    background-color: var(--amplify-colors-primary-10);
  }
  &:focus {
    outline-color: var(--amplify-colors-font-primary);
  }
}

.gen-switcher__list {
  min-width: 6rem;
}
