@use "mixins";

.navbar {
  --navbar-background-color: var(--amplify-colors-primary-80);
  --navbar-logo-text-color: var(--amplify-colors-white);
  --navbar-logo-color: var(--amplify-colors-white);
  --navbar-menu-item-color: var(--amplify-colors-white);
  --navbar-menu-item-visited-color: var(--amplify-colors-white);
  --navbar-menu-item-hover-color: var(--amplify-colors-primary-20);
  --navbar-menu-item-focus-border-color: var(--amplify-colors-white);
  --navbar-menu-item-focus-color: var(--amplify-colors-white);
  --navbar-menu-item-current-after-background-color: var(
    --amplify-colors-white
  );
  --navbar-box-shadow: none;
  --navbar-mobile-border-color: var(--amplify-colors-primary-60);
  --navbar-expander-color: var(--amplify-colors-white);
  --navbar-expander-hover-background-color: var(--amplify-colors-primary-60);
  --navbar-expander-focus-background-color: var(--amplify-colors-primary-60);
  --navbar-expander-focus-box-shadow: var(--amplify-colors-white);
  --navbar-height: 4rem;
  background-color: var(--navbar-background-color);
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
  box-shadow: var(--navbar-box-shadow);
  @include mixins.darkMode {
    --navbar-background-color: var(--amplify-colors-primary-40);
  }
}

.navbar-logo-text {
  color: var(--navbar-logo-text-color);
  font-size: var(--amplify-font-sizes-medium);
  white-space: nowrap;
}
.navbar-logo-link {
  cursor: pointer;
  gap: var(--amplify-space-xs);
  align-items: center;
  &:focus {
    box-shadow: none;
    outline: 2px solid var(--amplify-colors-white);
    outline-offset: 2px;
  }
  &--gen1 {
    &:focus {
      outline-color: var(--amplify-colors-font-primary);
    }
  }
}
.navbar-logo {
  color: var(--navbar-logo-color);
}

.nav-links-container {
  z-index: 5;
  width: 100%;
  position: relative;
  top: 0;
  flex-direction: column;
  padding: 0;
  background-color: var(--navbar-background-color);
  gap: 0;
  .left-nav-links,
  .right-nav-links {
    flex-direction: column;
    gap: 0;
  }
}

.navbar-expander {
  color: var(--navbar-expander-color);
  padding: var(--amplify-space-medium);
  margin-inline-start: auto;
  &:hover {
    background-color: var(--navbar-expander-hover-background-color);
  }
  &:focus {
    background-color: var(--navbar-expander-focus-background-color);
    box-shadow: 0 0 0 2px var(--navbar-expander-focus-box-shadow);
  }
}

.mobile-current-link {
  padding: var(--amplify-space-xxs);
  gap: var(--amplify-space-xs);
  align-items: center;
  align-self: center;
  flex-direction: row;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--amplify-colors-white) inset;
  }
}

.navbar-menu-item {
  display: flex;
  border: 2px solid transparent;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: var(--amplify-space-xs) var(--amplify-space-medium);
  font-size: var(--amplify-font-sizes-medium);
  text-decoration: none;
  color: var(--navbar-menu-item-color);
  font-weight: 700;
  white-space: nowrap;
  &:visited {
    color: var(--navbar-menu-item-visited-color);
  }
  &:hover {
    color: var(--navbar-menu-item-hover-color);
  }
  &:focus {
    outline: none;
    border: 2px solid var(--navbar-menu-item-focus-border-color);
    color: var(--navbar-menu-item-focus-color);
  }
  @include mixins.darkMode {
    &:hover {
      color: var(--amplify-colors-primary-80);
    }
  }
}

.chevron-icon {
  fill: var(--amplify-colors-neutral-100);
}

.background-overlay {
  background-color: var(--amplify-colors-overlay-40);
  z-index: 4;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
}

.icon-link {
  margin-left: auto;
  margin-right: auto;
}

.mobile-border {
  border-top: 1px solid var(--navbar-mobile-border-color);
}

.navbar__logo-container {
  padding-inline: var(--amplify-space-medium);
  height: var(--navbar-height);
  align-items: center;
}

.collapsed-menu {
  display: none;
}

.social-links {
  justify-content: space-around;
  column-gap: var(--amplify-space-small);
  padding: 0px;

  // Make the social links cover their whole flex area
  div {
    height: 100%;
    width: 100%;
    border-right: 1px solid var(--navbar-border-color);
    padding: var(--navbar-mobile-nav-padding) 0px;

    &:last-child {
      border: none;
    }
  }
}

.desktop-only {
  display: none;
}

@media (min-width: 500px) {
  .navbar-logo-text {
    font-size: var(--amplify-font-sizes-large);
  }
}

@media (min-width: 975px) {
  .navbar {
    padding-inline: var(--amplify-space-medium);
  }
  .navbar-menu-item {
    position: relative;
    padding-inline: var(--amplify-space-xs);
    height: var(--navbar-height);
    line-height: var(--navbar-height);
  }
  .right-nav-links .navbar-menu-item {
    padding-inline: 10px;
  }
  .navbar-menu-item--current:after {
    height: 4px;
    border-radius: 2px;
    background-color: var(--navbar-menu-item-current-after-background-color);
    content: '';
    position: absolute;
    bottom: -2px;
    left: var(--amplify-space-xs);
    right: var(--amplify-space-xs);
  }

  .background-overlay {
    display: none;
  }

  .collapsed-menu {
    display: flex;
  }

  .desktop-only {
    display: flex;
  }

  .mobile-only {
    display: none;
  }

  .mobile-border {
    padding: 0;
    border: none;
  }

  .nav-links-container {
    flex-direction: row;
    height: var(--navbar-height);
    gap: var(--amplify-space-small);
    & .left-nav-links,
    .right-nav-links {
      flex-direction: row;
      align-items: center;
      gap: var(--amplify-space-small);
    }
  }

  .left-nav-links {
    margin-inline-start: var(--amplify-space-xl);
  }
  .right-nav-links {
    margin-inline-start: auto;
  }

  .icon-link {
    margin-inline: auto;
  }

  .navbar__logo-container {
    padding-inline: 0;
  }
}

.navbar--gen1 {
  --navbar-background-color: var(--amplify-colors-white);
  --navbar-logo-text-color: var(--amplify-colors-font-primary);
  --navbar-logo-color: var(--amplify-colors-primary-60);
  --navbar-menu-item-color: var(--amplify-colors-font-primary);
  --navbar-menu-item-visited-color: var(--amplify-colors-font-primary);
  --navbar-menu-item-hover-color: var(--amplify-colors-primary-60);
  --navbar-menu-item-focus-border-color: var(--amplify-colors-border-focus);
  --navbar-menu-item-focus-color: var(--amplify-colors-font-primary);
  --navbar-menu-item-current-after-background-color: var(
    --amplify-colors-primary-60
  );
  --navbar-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --navbar-mobile-border-color: var(--amplify-colors-neutral-20);
  --navbar-expander-color: var(--amplify-colors-font-primary);
  --navbar-expander-hover-background-color: var(--amplify-colors-primary-10);
  --navbar-expander-focus-background-color: var(--amplify-colors-primary-10);
  --navbar-expander-focus-box-shadow: var(--amplify-colors-font-primary);
  @include mixins.darkMode {
    --navbar-background-color: var(--amplify-colors-neutral-20);
    --navbar-expander-hover-background-color: var(--amplify-colors-neutral-10);
    --navbar-expander-focus-background-color: var(--amplify-colors-neutral-10);
  }
}
