.home-intro {
  container-type: inline-size;
  flex-direction: column;
  gap: var(--amplify-space-xl);
  position: relative;
  z-index: 1;
  &__heading {
    font-family: var(--font-code);
  }
  &__text {
    max-width: 580px;
    font-size: var(--amplify-font-sizes-large);
  }
}

.home-cta {
  flex-direction: column;
}

.home-content {
  flex-direction: column;
  gap: var(--amplify-space-xxl);
}

.home-section {
  flex-direction: column;
  gap: var(--amplify-space-large);
}

@container (min-width: 530px) {
  .home-cta {
    flex-direction: row;
  }
}
