.amplify-icon {
  transform-origin: center center;
  transition: transform 0.2s ease-out;
}
.icon {
  transform-origin: center center;
  &-rotate-90 {
    transform: rotate(90deg);
  }
  &-rotate-180 {
    transform: rotate(180deg);
  }
  &-rotate-270 {
    transform: rotate(270deg);
  }
  &-rotate-360 {
    transform: rotate(360deg);
  }
  &-rotate-90-reverse {
    transform: rotate(-90deg);
  }
  &-rotate-180-reverse {
    transform: rotate(-180deg);
  }
  &-rotate-270-reverse {
    transform: rotate(-270deg);
  }
  &-rotate-360-reverse {
    transform: rotate(-360deg);
  }
}
.icon-monochrome {
  transition: opacity 0.2s ease-out;
  opacity: 0;
}

/* Some logo icons need specific styling for dark mode */
.icon-js-monochrome-bg {
  fill: hsl(210, 50%, 10%);
  @include darkMode {
    fill: #fff;
  }
}

.icon-js-monochrome-letter {
  fill: #fff;
  @include darkMode {
    fill: hsl(210, 50%, 10%);
  }
}
