.layout-wrapper {
  min-height: 100vh;
  color: var(--amplify-colors-font-primary);
  background-color: var(--amplify-colors-background-primary);
  line-height: var(--amplify-line-heights-medium);
  font-size: var(--amplify-font-sizes-medium);
  &--home {
    background-image: radial-gradient(
      hsla(176, 68%, 41%, 0.21) 0,
      #fff 70%,
      #fff 100%
    );
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position: top -200px right -200px;
    @include darkMode {
      background-image: radial-gradient(
        hsla(176, 68%, 41%, 0.11) 0,
        var(--amplify-colors-background-primary) 70%,
        var(--amplify-colors-background-primary) 100%
      );
    }
  }
}

.layout-search {
  padding: var(--amplify-space-medium);
  position: fixed;
  width: 100%;
  z-index: 2;
  top: var(--docs-dev-center-nav);
  background-color: var(--amplify-colors-background-primary);
  &--home {
    background-color: transparent;
    transition: all 0.2s ease-out;
    box-shadow: none;
    .scrolled & {
      background-color: var(--amplify-colors-background-primary);
      box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.1);
    }
  }
}

.layout-main {
  padding: var(--amplify-space-medium);
  padding-top: calc(
    var(--docs-dev-center-nav) + var(--layout-search-height) +
      var(--amplify-space-medium)
  );
  position: relative;
  overflow-x: hidden;
}

.layout-sidebar {
  width: 100%;
  position: fixed;
  top: var(--docs-dev-center-nav);
  bottom: 0;
  inset-inline-start: 0;
  z-index: 2;
  overflow: visible;
  display: none;
  &--expanded {
    display: block;
  }
}

.search-menu-toggle {
  gap: var(--amplify-space-xxxs);
  align-self: center;
}

.layout-sidebar__mobile-toggle {
  position: absolute;
  inset-inline-start: var(--layout-sidebar-width);
  top: var(--amplify-space-medium);
  border-width: 2px;
  background-color: var(--amplify-colors-background-primary);
  border-color: transparent;
  border-radius: 0 var(--amplify-radii-medium) var(--amplify-radii-medium) 0;
  gap: var(--amplify-space-small);
  padding: var(--amplify-space-medium);
  opacity: 0;
  &:focus {
    box-shadow: none;
  }
  &:focus-visible {
    border-color: var(--amplify-colors-border-focus);
  }
  &--open {
    animation: menuFade 0.3s ease-out forwards;
    animation-delay: 0.3s;
  }
}

.layout-sidebar__inner {
  width: var(--layout-sidebar-width);
  height: 100%;
  background: var(--amplify-colors-background-primary);
  border-right: 1px solid var(--amplify-colors-neutral-20);
  transform: translate(-100%, 0);
  overflow-y: auto;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: visible;
  &--expanded {
    animation: menu 0.2s ease-out forwards;
    animation-delay: 0.1s;
  }
}

.layout-sidebar__backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--amplify-colors-overlay-20);
  opacity: 0;
  &--expanded {
    animation: menuFade 0.2s ease-out forwards;
  }
}

.layout-sidebar-platform {
  padding: var(--amplify-space-large);
  border-bottom: 1px solid var(--amplify-colors-neutral-20);
}
.layout-sidebar-menu {
  padding: var(--amplify-space-large) 0;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.layout-sidebar-feedback {
  padding: var(--amplify-space-large) var(--amplify-space-small)
    var(--amplify-space-large) var(--amplify-space-large);
  border-top: 1px solid var(--amplify-colors-neutral-20);
}

.main {
  flex-direction: column;
  container-type: inline-size;
  gap: var(--amplify-space-large);
  max-width: var(--content-max-width);
  padding-bottom: var(--amplify-space-xxl);
  scroll-margin-block-start: 12rem;
  &:focus-visible {
    outline: 2px solid var(--amplify-colors-border-focus);
    outline-offset: var(--amplify-space-xs);
  }
}

.layout-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@keyframes menu {
  0% {
    transform: translate(-100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes menuFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: $mq-mobile) {
  .search-menu-toggle {
    display: none;
  }
  .main {
    margin-bottom: auto;
  }
  .layout-search {
    height: var(--layout-search-height);
    padding-inline-start: calc(
      var(--layout-sidebar-width) + var(--amplify-space-xxl)
    );
  }
  .layout-sidebar__mobile-toggle {
    display: none;
  }
  .layout-sidebar {
    position: fixed;
    width: var(--layout-sidebar-width);
  }
  .layout-sidebar,
  .layout-sidebar--expanded {
    display: block;
  }

  .layout-sidebar__inner,
  .layout-sidebar__inner--expanded {
    transform: translate(0, 0);
    animation: none;
  }
  .layout-main {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: calc(
      100vh - var(--docs-dev-center-nav) - var(--layout-search-height)
    );
    padding-inline: calc(var(--layout-sidebar-width) + var(--amplify-space-xxl))
      var(--amplify-space-xxl);
    padding-block-end: 0;
  }
}

@media (min-width: 1360px) {
  .main--toc {
    margin-inline-end: var(--layout-toc-width);
  }
}
