.link-card {
  --link-card-box-shadow: 0 1px 5px hsla(0, 0%, 0%, 0.3);
  border-radius: var(--amplify-radii-medium);
  background: var(--amplify-colors-background-primary);
  padding: var(--amplify-space-medium);
  box-shadow: var(--link-card-box-shadow);
  color: var(--amplify-colors-font-primary);
  font-weight: var(--amplify-font-weights-bold);
  text-decoration: none;
  @include darkMode {
    --link-card-box-shadow: 0 0 0 2px var(--amplify-colors-neutral-20);
  }
}

.link-card:visited {
  color: var(--amplify-colors-font-primary);
}
.link-card:hover {
  color: var(--amplify-colors-primary-80);
}

.link-card-children {
  margin-top: auto;
}
