.link-card {
  border-radius: 16px;
  background: var(--White, #fff);
  padding: 1rem;
  /* Shadow (Container, Card) */
  box-shadow:
    0px 0px 4px 0px rgba(65, 77, 92, 0.2),
    0px 1px 14px 0px rgba(0, 7, 22, 0.14);
  color: var(--amplify-colors-font-primary);
  font-weight: var(--amplify-font-weights-bold);
}
.link-card:visited {
  color: var(--amplify-colors-font-primary);
}
.link-card:hover {
  color: var(--amplify-colors-brand-primary-80);
}
.link-card:focus {
  outline: 2px solid var(--amplify-colors-font-primary);
}
.link-card-children {
  margin-top: auto;
}
