.modal-portal {
  position: fixed;
  inset-inline-end: 0;
  bottom: 0;
  padding: var(--amplify-space-large);
  z-index: 1;
}

.modal {
  box-shadow: 0 1px 10px hsla(0, 0%, 0%, 0.3);
  padding: var(--amplify-space-large);
  background-color: var(--amplify-colors-neutral-100);
  width: 100%;
  max-width: 500px;
  color: var(--amplify-colors-white);
  border-radius: var(--amplify-radii-medium);
  flex-direction: column;
}
.modal-header {
  align-items: center;
}
.modal-heading {
  font-size: var(--amplify-font-sizes-medium);
  color: var(--amplify-colors-purple-20);
  align-items: center;
  gap: var(--amplify-space-xs);
  font-weight: bold;
}
.modal-dismiss {
  margin-inline-start: auto;
  color: var(--amplify-colors-white);
  &:hover {
    background-color: var(--amplify-colors-neutral-90);
  }
  &:focus {
    background-color: var(--amplify-colors-neutral-90);
  }
}

.modal-dismiss,
.modal-action {
  &:focus {
    box-shadow: none;
    outline: 2px solid var(--amplify-colors-white);
    outline-offset: 2px;
  }
}

.modal-action--primary {
  background-color: var(--amplify-colors-purple-20);
  color: var(--amplify-colors-black);
  &:hover {
    background-color: var(--amplify-colors-purple-10);
  }
}

.modal-action--secondary {
  background: none;
  border-color: var(--amplify-colors-white);
  color: var(--amplify-colors-white);
  &:hover {
    background-color: var(--amplify-colors-neutral-90);
  }
}
