.overview {
  gap: var(--amplify-space-xxl);
  &__link {
    color: inherit;
    text-decoration: none;

    &:hover &__card__title {
      color: var(--amplify-colors-primary-60);
      text-decoration: none;
      @include darkMode {
        color: var(--amplify-colors-white);
      }
    }

    &__card {
      border-radius: var(--amplify-radii-small);
      padding: var(--amplify-space-large);
      height: 100%;

      &__title {
        font-size: var(--amplify-font-sizes-large);
        font-weight: var(--amplify-font-weights-bold);
        color: var(--amplify-colors-primary-80);
        text-decoration: underline;
        text-underline-offset: 2px;
      }

      &__description {
        /* Line clamp to hide text and show ellipses */
        display: -webkit-inline-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
      }
    }
  }
}
