.platform-navigator {
    display: flex;
    flex-direction: column;
    position: relative;
    &__button {
        display: flex;
        justify-content: space-between;
    }
    &__dropdown {
        border: 1px solid black;
        border-radius: 10px;
        list-style-type: none;
        padding: 0;
        visibility: hidden;
        z-index: 999;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        &--show {
            visibility: visible;
        }
        &__item {
            border-bottom: 1px solid;
            background-color: lightgrey;
            padding: 0.5em;
            &:hover {
                background-color:grey;
            }
        }
    }
}