.popover-wrapper {
  display: flex;
  position: relative;
}
.popover {
  display: none;
  position: absolute;
  background: var(--amplify-colors-background-primary);
  border-radius: var(--amplify-radii-medium);
  padding: var(--amplify-space-medium);
  border: 2px solid var(--amplify-colors-teal-80);
  box-shadow: 0 1px 3px hsla(0, 0, 0, 0.3);
  min-width: 14rem;
  top: 100%;
  transform: translate(0, -2px);
  right: 0;
  &:focus {
    outline: 2px solid var(--amplify-colors-border-focus);
  }

  &--expanded {
    display: block;
    animation: popoverContent 0.2s ease-out forwards;
  }
}

@keyframes popoverContent {
  0% {
    opacity: 0;
    transform: translate(
      var(--popover-translate-x),
      calc(var(--popover-translate-y) - 10px)
    );
  }
  100% {
    opacity: 1;
    transform: translate(
      var(--popover-translate-x),
      var(--popover-translate-y)
    );
  }
}
