.popover-wrapper {
  display: flex;
  position: relative;
}
.popover {
  display: none;
  position: absolute;
  background: var(--amplify-colors-background-primary);
  border-radius: var(--amplify-radii-medium);
  padding: var(--amplify-space-small);
  border: 1px solid var(--amplify-colors-teal-80);
  box-shadow: 0 1px 3px hsla(0, 0, 0, 0.3);
  min-width: 14rem;
  top: 100%;
  transform: translate(0, -1px);
  right: 0;
  &:focus-visible {
    outline: 2px solid var(--amplify-colors-border-focus);
  }

  &--expanded {
    display: block;
    animation: popoverContent 0.2s ease-out forwards;
  }
}

.popover-list {
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    text-decoration: none;
    display: flex;
    color: var(--amplify-colors-font-primary);
    align-items: center;
    padding: var(--amplify-space-xxs) var(--amplify-space-xs);
    gap: var(--amplify-space-xxs);
    &:hover {
      background-color: var(--amplify-colors-primary-10);
    }
    &:focus-visible {
      outline: 2px solid var(--amplify-colors-border-focus);
    }
  }
}

@keyframes popoverContent {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, -1px);
  }
}
