.repo-actions {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid var(--amplify-colors-neutral-20);

  &:first-child > a {
    margin-right: 2rem;
  }

  > a {
    width: 100%;
    display: flex;
    padding: var(--amplify-space-xs) var(--amplify-space-large);
    align-items: center;
    justify-content: space-between;
    color: var(--font-color);
    text-decoration: none;
  }

  &:hover {
    opacity: 0.8;
  }

  img {
    position: relative;
    top: 0.0625rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}
