.layout-search__search {
  margin-inline-start: auto;
}

@media (min-width: $mq-mobile) {
  .layout-search__search {
    width: 100%;
    margin-inline-start: 0;
    &__container {
      max-width: var(--content-max-width);
      display: flex;
      justify-content: flex-end;
    }
  }
}

@media (min-width: $toc-min) {
  .layout-search__search {
    &--toc {
      margin-inline-end: calc(
        var(--layout-toc-width) + var(--amplify-space-xl)
      );
    }
  }
}

.search-results {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--amplify-space-medium);
}

.search-result {
  a {
    text-decoration: none;
    display: block;
    padding: 10px;
    border: 1px solid var(--amplify-colors-neutral-80);
    border-radius: var(--amplify-radii-medium);
    background: var(--amplify-colors-neutral-10);
    mark {
      background: none;
      text-decoration: underline;
    }
  }
}
