.layout-search__search {
  margin-inline-start: auto;
}

.search-menu-toggle {
  gap: var(--amplify-space-xxxs);
  align-self: center;
}

@media (min-width: $toc-min) {
  .layout-search__search {
    &--inner {
      margin-inline-end: calc(
        var(--layout-toc-width) + var(--amplify-space-xl)
      );
    }
  }
}
