@use "mixins";

.spaceship-inner {
  container-type: inline-size;
}

.spaceship {
  --spaceship-cloud: #fff;
  --spaceship-star: var(--amplify-colors-neutral-100);
  @include mixins.darkMode {
    --spaceship-cloud: var(--amplify-colors-neutral-10);
    --spaceship-star: var(--amplify-colors-primary-40);
  }
  width: 400px;
  position: absolute;
  top: 200px;
  right: 0;
  display: block;
  opacity: 0;
  &--with-banner {
    top: 340px;
  }
}

@container (min-width: 947px) {
  .spaceship {
    opacity: 1;
    width: 400px;
    top: 160px;
    &--with-banner {
      top: 260px;
    }
  }
}

@container (min-width: 1040px) {
  .spaceship {
    width: 500px;
    top: 90px;

    &--with-banner {
      top: 240px;
    }
  }
}

@media (min-width: 800px) {
  .spaceship-wrapper {
    padding-inline: calc(var(--layout-sidebar-width) + var(--amplify-space-xxl))
      var(--amplify-space-xxl);
  }
  .spaceship {
    right: calc(var(--amplify-space-xxl) * -1);
  }
}

@media (min-width: 1383px) {
  .spaceship-layout {
    background-image: radial-gradient(
      hsla(258, 41%, 85%, 0.3) 0,
      #fff 70%,
      #fff 100%
    );
    background-size: 900px 900px;
    background-repeat: no-repeat;
    background-position: top -200px right -200px;

    &.spaceship-layout--gen1 {
      background-image: radial-gradient(
        hsla(176, 68%, 41%, 0.21) 0,
        #fff 70%,
        #fff 100%
      );
    }
    @include mixins.darkMode {
      background-image: radial-gradient(
        hsla(264, 52%, 56%, 0.11) 0,
        var(--amplify-colors-background-primary) 70%,
        var(--amplify-colors-background-primary) 100%
      );
      &.spaceship-layout--gen1 {
        background-image: radial-gradient(
          hsla(176, 68%, 41%, 0.11) 0,
          var(--amplify-colors-background-primary) 70%,
          var(--amplify-colors-background-primary) 100%
        );
      }
    }
  }
}
