.margin-top-sm {
  margin-top: 0.5rem;
}

.margin-right-sm {
  margin-right: 0.5rem;
}

.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-left-sm {
  margin-left: 0.5rem;
}

.margin-top-md {
  margin-top: 1rem;
}

.margin-right-md {
  margin-right: 1rem;
}

.margin-bottom-md {
  margin-bottom: 1rem;
}

.margin-left-md {
  margin-left: 1rem;
}

.margin-top-lg {
  margin-top: 2rem;
}

.margin-right-lg {
  margin-right: 2rem;
}

.margin-bottom-lg {
  margin-bottom: 2rem;
}

.margin-left-lg {
  margin-left: 2rem;
}

.padding-top-sm {
  padding-top: 0.5rem;
}

.padding-right-sm {
  padding-right: 0.5rem;
}

.padding-bottom-sm {
  padding-bottom: 0.5rem;
}

.padding-left-sm {
  padding-left: 0.5rem;
}

.padding-top-md {
  padding-top: 1rem;
}

.padding-right-md {
  padding-right: 1rem;
}

.padding-bottom-md {
  padding-bottom: 1rem;
}

.padding-left-md {
  padding-left: 1rem;
}

.padding-top-lg {
  padding-top: 2rem;
}

.padding-right-lg {
  padding-right: 2rem;
}

.padding-bottom-lg {
  padding-bottom: 2rem;
}

.padding-left-lg {
  padding-left: 2rem;
}

.padding-horizontal-md {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
