@import './variables.scss';
@import './font-faces.scss';
@import './base.scss';
@import './algolia.scss';
@import './prism-language-error.scss';

@import './code.scss';
@import './footer.scss';
@import './home.scss';
@import './icons.scss';
@import './layout.scss';
@import './popover.scss';
@import './search.scss';
@import './spaceship.scss';
@import './split-button.scss';

/* Temp */
[id*='lastupdated-'] {
  display: none;
}
