@use "mixins";

.video {
  border-radius: var(--amplify-radii-large);
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.3);
  @include mixins.darkMode {
    box-shadow: 0 0 0 5px var(--amplify-colors-neutral-20);
  }
  &:focus-visible {
    box-shadow: none;
    outline: 2px solid var(--amplify-colors-border-focus);
    outline-offset: 2px;
  }
}
