<table class="doc-table">
  <thead class="doc-thead">
    <tr class="doc-tr">
      <th class="doc-th">Attribute</th>
      <th class="doc-th">Type</th>
      <th class="doc-th">Description</th>
      <th class="doc-th">Default</th>
      <th class="doc-th">Required</th>
    </tr>
  </thead>
  <tbody class="doc-tbody">
    <tr class="doc-tr">
        <td class="doc-td" data-column="Attribute">federatedSignInConfig</td>
        <td class="doc-td" data-column="Type">object</td>
        <td class="doc-td" data-column="Description">An object referencing social providers</td>
        <td class="doc-td" data-column="Default">N/A</td>
        <td class="doc-td" data-column="Required">no</td>
    </tr>
  </tbody>
</table>

