<table class="doc-table">
  <thead class="doc-thead">
    <tr class="doc-tr">
      <th class="doc-th">Attribute</th>
      <th class="doc-th">Type</th>
      <th class="doc-th">Description</th>
      <th class="doc-th">Default</th>
      <th class="doc-th">Required</th>
    </tr>
  </thead>
  <tbody class="doc-tbody">
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">header</td>
      <td class="doc-td" data-column="Type">string</td>
      <td class="doc-td" data-column="Description">the component header</td>
      <td class="doc-td" data-column="Default">'Sign Up'</td>
      <td class="doc-td" data-column="Required">no</td>
    </tr>
    <tr class="doc-tr">
        <td class="doc-td" data-column="Attribute">signUpFields</td>
        <td class="doc-td" data-column="Type">array</td>
        <td class="doc-td" data-column="Description">see below</td>
        <td class="doc-td" data-column="Default">see below</td>
        <td class="doc-td" data-column="Required">no</td>
    </tr>
    <tr class="doc-tr">
        <td class="doc-td" data-column="Attribute">defaultCountryCode</td>
        <td class="doc-td" data-column="Type">string</td>
        <td class="doc-td" data-column="Description">the preselected value in the country code dropdown</td>
        <td class="doc-td" data-column="Default">'1'</td>
        <td class="doc-td" data-column="Required">no</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">hideDefaults</td>
      <td class="doc-td" data-column="Type">boolean</td>
      <td class="doc-td" data-column="Description">determines whether default signup fields are displayed</td>
      <td class="doc-td" data-column="Default">N/A</td>
      <td class="doc-td" data-column="Required">no</td>
  </tr>
  </tbody>
</table>