<table class="doc-table">
  <thead class="doc-thead">
    <tr class="doc-tr">
      <th class="doc-th">Attribute</th>
      <th class="doc-th">Type</th>
      <th class="doc-th">Description</th>
      <th class="doc-th">Possible Values</th>
    </tr>
  </thead>
  <tbody class="doc-tbody">
    <tr class="doc-tr">
      <td class="doc-td" data-column="Attribute">label</td>
      <td class="doc-td" data-column="Type">string</td>
      <td class="doc-td" data-column="Description">label for the input field</td>
      <td class="doc-td" data-column="Possible Values">N/A</td>
    </tr>
    <tr class="doc-tr">
        <td class="doc-td" data-column="Attribute">key</td>
        <td class="doc-td" data-column="Type">string</td>
        <td class="doc-td" data-column="Description">key name for the attribute as defined in the User Pool</td>
        <td class="doc-td" data-column="Possible Values">N/A</td>
    </tr>
    <tr class="doc-tr">
        <td class="doc-td" data-column="Attribute">required</td>
        <td class="doc-td" data-column="Type">boolean</td>
        <td class="doc-td" data-column="Description">whether or not the field is required</td>
        <td class="doc-td" data-column="Possible Values">N/A</td>
    </tr>
    <tr class="doc-tr">
        <td class="doc-td" data-column="Attribute">displayOrder</td>
        <td class="doc-td" data-column="Type">number</td>
        <td class="doc-td" data-column="Description">number indicating the order in which fields will be displayed</td>
        <td class="doc-td" data-column="Possible Values">N/A</td>
    </tr>
    <tr class="doc-tr">
        <td class="doc-td" data-column="Attribute">type</td>
        <td class="doc-td" data-column="Type">string</td>
        <td class="doc-td" data-column="Description">the type attribute for the html input element</td>
        <td class="doc-td" data-column="Possible Values">‘string’, ‘number’, ‘password’, etc</td>
    </tr>
    <tr class="doc-tr">
        <td class="doc-td" data-column="Attribute">custom</td>
        <td class="doc-td" data-column="Type">boolean</td>
        <td class="doc-td" data-column="Description">flag which indicates whether or not the field is ‘custom’ in the User Pool</td>
        <td class="doc-td" data-column="Possible Values">N/A</td>
    </tr>
  </tbody>
</table>

