<table class="doc-table">
  <thead class="doc-thead">
    <tr class="doc-tr">
      <th class="doc-th">First Name</th>
      <th class="doc-th">Last Name</th>
      <th class="doc-th">Job Title</th>
      <th class="doc-th">Twitter</th>
    </tr>
  </thead>
  <tbody class="doc-tbody">
    {% for row in rows %}
    <tr class="doc-tr">
        <td class="doc-td" data-column="First Name">I</td>
        <td class="doc-td" data-column="Last Name">Am</td>
        <td class="doc-td" data-column="Job Title">Test</td>
        <td class="doc-td" data-column="Twitter">Data!!!!!</td>
      </tr>
    {% endfor %}
    <tr class="doc-tr">
      <td class="doc-td" data-column="First Name">James</td>
      <td class="doc-td" data-column="Last Name">Matman</td>
      <td class="doc-td" data-column="Job Title">Chief Sandwich Eater</td>
      <td class="doc-td" data-column="Twitter">@james</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="First Name">Andor</td>
      <td class="doc-td" data-column="Last Name">Nagy</td>
      <td class="doc-td" data-column="Job Title">Designer</td>
      <td class="doc-td" data-column="Twitter">@andornagy</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="First Name">Tamas</td>
      <td class="doc-td" data-column="Last Name">Biro</td>
      <td class="doc-td" data-column="Job Title">Game Tester</td>
      <td class="doc-td" data-column="Twitter">@tamas</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="First Name">Zoli</td>
      <td class="doc-td" data-column="Last Name">Mastah</td>
      <td class="doc-td" data-column="Job Title">Developer</td>
      <td class="doc-td" data-column="Twitter">@zoli</td>
    </tr>
    <tr class="doc-tr">
      <td class="doc-td" data-column="First Name">Szabi</td>
      <td class="doc-td" data-column="Last Name">Nagy</td>
      <td class="doc-td" data-column="Job Title">Chief Sandwich Eater</td>
      <td class="doc-td" data-column="Twitter">@szabi</td>
    </tr>
  </tbody>
</table>

