Perform the following steps to disable email-based verification and enable SMS-based verification.

> Note: After making this change, `email` may still be required when signing up users if it was marked as a required attribute when creating the user pool. This will be true if the `Default configuration` was chosen when running `amplify add auth`. If so, it must be included with `userAttributes` in the sign up options.

```bash
$ amplify update auth

? What do you want to do?
# Walkthrough all the auth configurations

... Answer as appropriate

? Email based user registration/forgot password:
# Disabled (Uses SMS/TOTP as an alternative)
? Please specify an SMS verification message:
# Your verification code is {####}

... Answer as appropriate

Some next steps:
"amplify push" will build all your local backend resources and provision it in the cloud
"amplify publish" will build all your local backend and frontend resources (if you have hosting category added) and provision it in the cloud
```