.background-color {
  background-color: var(--bg-color);
}

.background-color-secondary {
  background-color: var(--bg-color-secondary);
}

.background-color-tertiary {
  background-color: var(--bg-color-tertiary);
}

.background-color-black {
  background-color: var(--color-black);
}

.background-color-white {
  background-color: var(--color-white);
}

.background-color-grey-lt {
  background-color: var(--color-grey-lt);
}

.background-color-grey-md {
  background-color: var(--color-grey-md);
}

.background-color-grey-hv {
  background-color: var(--color-grey-hv);
}

.background-color-orange-hv {
  background-color: var(--color-orange-hv);
}

.background-color-off-white {
  background-color: var(--color-off-white);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-grey-lt {
  color: var(--color-grey-lt);
}

.color-grey-md {
  color: var(--color-grey-md);
}

.color-grey-hv {
  color: var(--color-grey-hv);
}

.color-orange-hv {
  color: var(--color-orange-hv);
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.three-dee-effect {
  box-shadow: rgba(0, 0, 0, 0.09) 0.3125rem 0.3125rem 0 -0.0625rem,
    0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.15);
}

.border-radius {
  border-radius: 0.25rem;
}

.scale-up-on-hover {
  transition: 0.125s ease transform;
  &:hover {
    transform: scale(1.0625);
  }
}

.overflow-x {
  overflow-x: auto;
}

.text-align-center {
  text-align: center;
}

.align-self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}