name: Test
on:
  pull_request:
    branches: [main, next-release/main]
    types: [opened, synchronize]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - name: Setup Node.js 20.x
        uses: actions/setup-node@main
        with:
          node-version: 20.x
      - name: Install Dependencies
        run: yarn
      - name: Run tests
        run: yarn test
      - name: Run Build
        run: yarn build
        env:
          NODE_OPTIONS: --max_old_space_size=4096
