name: Redirects Workflow
on: pull_request
env:
  ARTIFACT_NAME: 'redirectsArtifact'
jobs:
  checkIfRedirectsAreNeeded:
    name: Check if redirects are needed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository to get the workflow scripts
        uses: actions/checkout@v3
      - name: Get count of deleted files
        uses: actions/github-script@v6.4.0
        id: set-deleted-files-count
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const { getDeletedFiles } = require('./.github/workflows/scripts/check_for_redirects.js');
            return getDeletedFiles({github, context});
      - name: Create artifact containing the PR number and deleted file count
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          artifactName="${{ env.ARTIFACT_NAME }}.txt"
          echo ${{ env.PR_NUMBER }} >> $artifactName
          echo ${{ steps.set-deleted-files-count.outputs.result }} >> $artifactName
      - name: Upload the redirects file to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: '${{ env.ARTIFACT_NAME }}.txt'
