name: Redirects Workflow
on:
  pull_request:
    branches: [main]
env:
  ARTIFACT_NAME: 'redirectsArtifact'
  PATHS_TO_CHECK: 'src/pages,src/fragments'
jobs:
  checkIfRedirectsAreNeeded:
    name: Check if redirects are needed
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository to get the workflow scripts
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Get count of deleted files
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        id: set-deleted-files-count
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const { PATHS_TO_CHECK } = process.env;
            const paths = PATHS_TO_CHECK.split(',');

            const { getDeletedFilesFromPR } = require('./.github/workflows/scripts/utilities.js');
            return await getDeletedFilesFromPR({github, context, paths});
      - name: Create artifact containing the PR number and deleted file count
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          artifactName="${{ env.ARTIFACT_NAME }}.txt"
          echo ${{ env.PR_NUMBER }} >> $artifactName
          echo ${{ steps.set-deleted-files-count.outputs.result }} >> $artifactName
      - name: Upload the redirects file to artifacts
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: ${{ env.ARTIFACT_NAME }}
          path: '${{ env.ARTIFACT_NAME }}.txt'
          retention-days: 1
