name: LinkChecker
on:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  Spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node.js 16.x
        uses: actions/setup-node@main
        with:
          node-version: 16.x
      - name: Install Dependencies
        run: yarn
      - name: Run Link Checker
        run: node tasks/link-checker.mjs
