name: Validate CODEOWNERS
on:
  pull_request:
    branches: [main]
jobs:
  checkIfCodeownersUpdateNeeded:
    permissions:
      pull-requests: write
    name: Check if CODEOWNERS needs to be updated
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # Minimal depth 2 so we can checkout the commit before possible merge commit.
          fetch-depth: 2
      - name: Get count of added files
        run: |
          git fetch origin main
          echo "NEW_FILES<<EOF" >> $GITHUB_ENV
          echo $(git diff --name-only --diff-filter=A origin/main ${{ github.pull_request.head.sha }}) >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
      - name: Install npm package ignore
        run: yarn add ignore -W # help verify CODEOWNERS
      - name: Check file against CODEOWNERS
        uses: actions/github-script@v6.4.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const ignore = require('ignore');
            const { NEW_FILES } = process.env
            console.log(NEW_FILES);
            const response = await fetch('https://raw.githubusercontent.com/aws-amplify/docs/main/.github/CODEOWNERS');
            const body = await response.text();
            const codeownersFilePatterns = body.split('\n').filter(e => !e.startsWith("#")).filter(e => e.length > 1).map(e => e.split(/\s+/)[0]);
            console.log(codeownersFilePatterns);
            const ig = ignore().add(codeownersFilePatterns);
            const filesNotInCodeowners = [];
            NEW_FILES.split(' ').forEach(newFile => {
              if (!ig.ignores(newFile)) {
                console.log(`${newFile} is not covered by CODEOWNERS`);
                filesNotInCodeowners.push(newFile);
              }
            });
            const { issue: { number: issue_number }, repo: { owner, repo } } = context;
            if (filesNotInCodeowners.length > 0) {
              const needCodeownersUpdateComment = `@aws-amplify/documentation-team, CODEOWNERS need to be updated because these new files are not covered:\n
              ${filesNotInCodeowners.map(e => `- ${e}\n`)}
             `;
              github.rest.issues.createComment({owner, repo, issue_number, body: needCodeownersUpdateComment})
              const labels = ['update-codeowners'];
              github.rest.issues.addLabels({ owner, repo, issue_number, labels});
            }
