name: Validate CODEOWNERS
on:
  pull_request:
    branches: [main]
jobs:
  checkIfCodeownersUpdateNeeded:
    permissions:
      pull-requests: write # Used to add comment to PR
    name: Check if CODEOWNERS needs to be updated
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0 https://github.com/actions/checkout/commit/f43a0e5ff2bd294095638e18286ca9a3d1956744
      - name: Get count of added files
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        id: set-added-files-count
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            const { getAddedFiles } = require('./.github/workflows/scripts/check_for_new_files.js');
            return getAddedFiles({github, context, core});
      - name: Install npm package ignore
        if: ${{ steps.set-added-files-count.outputs.result > 0 }}
        run: yarn add ignore@5.2.4 -W # help verify CODEOWNERS
      - name: Check file against CODEOWNERS
        if: ${{ steps.set-added-files-count.outputs.result > 0 }}
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        env:
          CURRENT_BRANCH: ${{ github.head_ref }}
          CURRENT_REPO: ${{ github.repository }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const ignore = require('ignore');
            const { validateCodeowners } = require('./.github/workflows/scripts/check_for_new_files.js');
            validateCodeowners({github, context, fetch, ignore});
