name: Spellcheck
on:
  pull_request:
    types: [opened, synchronize]
permissions:
  contents: read
jobs:
  Spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup Node.js 20.x
        uses: actions/setup-node@main
        with:
          node-version: 20.x
      - name: Install Dependencies
        run: yarn
      - name: Run Spellcheck
        run: yarn spellcheck
